.cart__inner {
    max-width: 1160px;
    margin: 0 auto;
}

.cart__item {
    width: 100%;
    background-color: #00fcb1;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item-button {
     height: 50px;
     width: 50px;
}

.cart__make {
    margin-top: 50px;
    padding: 10px;
}